
    .bg-cover {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://raw.githubusercontent.com/tunganh03/c4k60/master/cothuy.jpg');
        background-size: cover;
    }
    .diemthitext {
        color:#FFFFFF;
    }
    .navbar-brand{
        font-size: 2rem;
    }